{{#each this}}
<div class="card-container">
    <div class="card-container-inner">
        <h2 class="country-name">{{this.name}}</h2>
        <ul class="list country-info">
            <li class="country-info-item">
                <span class="item-title">Capital: </span>{{this.capital}}
            </li>
            <li class="country-info-item">
                <span class="item-title">Population: </span>{{this.population}}
            </li>
            <li class="country-info-item">
                <span class="item-title">Languages:</span>
                <ul>
                    {{#each languages}}
                    <li class="languages-item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-container-inner">
        <img class="flag" src={{this.flag}} alt="A country flag" />
    </div>
</div>
{{/each}}